.table tbody>tr>td {
    padding: 0;
}

.table tbody>tr>td>div {
    padding: 16px;
}

.ant-dropdown * li>i {
    margin-right: 8px;
}

/* components/Header.module.css */
.container {
    position: relative;
    width: 100%;
    height: 100px;
    /* Chiều cao của header */
}

.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}